html {
    font-size: 2vh;
}

#main {
    display: grid;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 24rem;
    height: 23rem;
    border: 1px solid black;
    justify-content: center;
    padding: 2rem 0;
    border-radius: 20px;
}

h1 {
    justify-self: center;
    margin-top: 0;
}

#login_form {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
}

#login_btn {
    font-size: 0.8rem;
    width: 7rem;
    height: 2rem;
    border-radius: 0.6rem;
    margin-bottom: 10%;
}

#login_err {
    visibility: hidden;
    color: red;
}

#reg_p {
    color: rgb(39, 56, 144);
    user-select: none;
    margin-top: 1%;
    margin-bottom: 0;
}

input.scaling {
    width: 14rem;
    height: 2rem;
    margin: 0.7rem 0 1.5rem 0;
    border-radius: 1rem;
    padding-left: 5%;
    font-size: 1rem;
}

@media (max-width: 67vh) {
    html {
        font-size: 3vw;
    }
}